.leaflet-bar button {background-color:#ffffff;border:none;width:100%;height:20px;line-height:15px;font-size:15px;text-align:center;text-decoration:none;color:#000000;cursor:pointer;overflow-x:visible;overflow-y:hidden;opacity:0.25;background-position:50% 50%;background-repeat:no-repeat;display:inline-block;border-radius:3px;padding:5px} 

 .leaflet-bar button:hover {background-color:#ffffff;text-decoration:underline;opacity:0.9}
